/* Add application styles & imports to this file! */
body::after {
  background: url(https://c4.wallpaperflare.com/wallpaper/196/606/477/champions-league-stadium-football-sports-game-soccer-stadium-wallpaper-preview.jpg);
}

img {
  opacity: 0.2;
  position: absolute;
  padding: 0;
}

app-root {
  z-index: 5;
}
